nav {
    grid-column: span 12;
    padding-left: 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    height: 50px;
    width: 247px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: cyan;
    display: inline-block;
}

nav li a {
    color: cyan;
    text-decoration: none;
    display: block;
    padding: 20px;
    height: 10px;
    background-image: linear-gradient(to bottom, #2e7ef7, #165fe4, #1651d2, #1543c0, #1335ae);
}

nav li a:hover {
    color: white;
    text-decoration: none;
}


#wrapper {
    background-color: white;
    border: 5px solid rgb(14, 14, 228);
    width: 1000px;
    margin: 1em auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


.floatimg {
    float: none;
    max-width: 100%;
    max-height: 100%;
}


h1 {
    font-family: Helvetica, Arial, sans-sherif;
    font-style: italic;
    font-weight: normal;
    color: cyan;
    display: block;
    margin: 0px;
    padding: 20px 20px;
    grid-column: span 12;
}


.testrun {
    background-image: linear-gradient(to bottom, #2e7ef7, #165fe4, #1651d2, #1543c0, #1335ae);
    margin: 0px;
    padding: 0px;
    grid-column: span 12;
}


h2{
    font-family: Helvetica, Arial, sans-sherif;
    color: rgb(17, 0, 255);
    padding-bottom: 10px;
    border-bottom: 5px solid rgb(17, 0, 255);
}

.main {
    display: grid;
    grid-column: span 4;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}



footer {
    border-top: 5px solid blue;
    display: block;
    padding: 20px;
    background-color: red;
    grid-column: span 12;

}

.center {
    display: grid;
    grid-column: span 12;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    background-color: #ffffff;
}

a:hover {
    text-decoration: underline;
    color: blue;

}


.weirdlink {
    text-decoration: none;
    font-weight: bold;
    color: red;
}

body {
background-color: grey;
    background-position: center center;
}

.none {
    text-decoration: none
}
