#wrapper {
    background-color: rgb(29, 0, 136);
    border: 5px solid rgb(0, 0, 109);
    width: 1700px;
    margin: 1em auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* grid-template-columns: auto auto auto; */
    padding-left: 24px;
    padding-right: 24px;}

h1 {
    color: rgb(0, 0, 0);
    font-family: "Audiowide", sans-serif;
    grid-column: span 12;
    font-size: 125px;
    text-align: center;
}

body {
    background-image: url(background\ waves.png);
    background-position: center center ;
    background-repeat: repeat;
    background-size: 100%
}

h2 {
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 60px;
    border-bottom: 5px solid rgb(61, 61, 231);
    margin-bottom: 10px;
    text-align: center;

}

.deltarune {
    float: none;
    display: center center;
    box-shadow: 7px 5px rgba(0, 0, 0, 0.527);
    width: 528px;
    height: 297px;
}

.textone {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: justify;
}

.project {
    grid-column: span 4;
    padding: 20px;
}
.delt {
    max-width: 528px;
    max-height: 297px;
    padding-top: 10px;
    box-shadow: 7px 5px rgba(0, 0, 0, 0.527);
}

footer {
    grid-column: span 12;

}