#wrapper {
    background-color: rgb(136, 0, 129);
    border: 5px solid rgb(96, 0, 109);
    width: 1800px;
    margin: 1em auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding-left: 24px;
    padding-right: 24px;
}

h1 {
    font-size: 125px;
    text-align: center center;
}

body {
    background-image: url(winter.jpg);
    background-position: center center ;
    background-repeat: repeat;
    background-size: 100%
}

.start {
    grid-column: span 12;
    font-size: 30px;
    text-align: justify
}

footer {
    grid-column: span 12;
}

h2 {
    grid-column: span 12;
    text-align: center;
    font-size: 100px;
}

.photos {
    grid-column: span 4;
    display: grid;
}

.photo {
    max-width: 608px;
    max-height: 345px;
    display: grid;
}