body {
  background-color: #999999;
}


nav {
    grid-column: span 12;
    padding-left: 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    height: 150px;
    width: 397px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline-block;
}

nav li a {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 25px ;
    padding: 20px;
    height: 50px;
}

nav li a:hover {
    color: white;
    text-decoration: none;
}


#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 10px solid black;
  background-image: url(cosmo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(12, 1fr); */
  /* grid-template-rows: 900px; This is for the dummy columns, replace or delete */
  position: relative;
}

.f-carousel__slide {
  text-align: center;
}

.f-carousel {
  --f-arrow-pos: 10px;

  --f-arrow-width: 50px;
  --f-arrow-height: 50px;

  --f-arrow-svg-width: 32px;
  --f-arrow-svg-height: 32px;
  --f-arrow-svg-stroke-width: 2.5;

  --f-arrow-color: #ff0000;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
}



.mainimage {
  background-image: url(Cosmetic\ PRoduction\ Design\ CM.png);
}

h1 {
    font-family: Helvetica, Arial, sans-sherif;
    font-weight: normal;
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0px;
    padding: 20px 20px;
    grid-column: span 12;
}

header {
    background-image: linear-gradient(to bottom, #0020ff, #0b16d1, #0c0ea5, #0a067b, #070054);
    grid-column: span 12;
    height: 150px;
    border-bottom: 10px solid black;
}

#myCarousel .f-carousel__slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }

.photo  {
        max-width: 100%;
        height: 150px;
        object-fit: contain;
        opacity: 80%;
      }

/* absolute positioning makes the main image sit "on top" of page, covering the navigation */
/* 
.main {
  position: absolute;
  display: block;
}

.textbox {
  text-align: center;
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-row: span 1;
}

figure {
  margin: 0; /* this zeroes out the default margin on figure */
}

figcaption {
  text-align: center; /* centered caption */
  color: rgb(0, 0, 0);     /* caption text color */
  font-size: 7em;     /* increase the text size */
  position: absolute; /* positions the caption "on top" of the figure */
  top: 0%;           /* moves the caption down */
  width: 100%;        /* forces the caption across the whole figure */
  text-shadow: 7px 5px black;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Permanent Marker", cursive;
}

footer {
 grid-column: span 12;
}

footer a {
  color: purple;
  font-size: 100px;
  transition: all 1s;
}

footer a:hover {
  color: #070054;
}